@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    background: #F8F9F6;
    white-space: nowrap;
    position: relative;
    margin-top: 50vh;
    margin-bottom: 8vh;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 1;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  
  .logos:hover .logo-slide {
    animation-play-state: paused;
  }
  
  .logo-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  .logo-slide img {
    height: 50px;
    margin: 0 40px;
  }
  @media (max-width:640px) {
    .logos:before {
      left: 0;
      background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.303));
    }
    
    .logos:after {
      right: 0;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.343));
    }
    .logos{
        margin-top: 48vh;
        margin-bottom: 16vh;
    }
    .heading1{
      font-size: 40px;
      margin-right: 0.51rem;
    }
    .heading2{
      font-size: 2rem;
      text-align: center;
    }
  }